[Unit]
Description=Python Simple HTTP Server

[Service]
User=jenkins
WorkingDirectory=/opt/python-systemd-http-server/public
ExecStart=/opt/python-systemd-http-server/app.py

[Install]
WantedBy=multi-user.target
